<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431847543509-8r4ha3b8bdgd6h864sijpj1d19jqqo63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431847543509-8r4ha3b8bdgd6h864sijpj1d19jqqo63</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>431847543509-qqi5ogqulhefribpgmsjjsjt4clijuro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbmTXpSHrobFRFLUctkGv_8fon7b1OJ_I</string>
	<key>GCM_SENDER_ID</key>
	<string>431847543509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.wavect</string>
	<key>PROJECT_ID</key>
	<string>wavect-8dde1</string>
	<key>STORAGE_BUCKET</key>
	<string>wavect-8dde1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431847543509:ios:8a15702d7dfb920131c85c</string>
	<key>DATABASE_URL</key>
	<string>https://wavect-8dde1.firebaseio.com</string>
</dict>
</plist>